@charset "UTF-8";


h1{
	text-shadow: 2px 2px 2px gray;
}

h3{
	margin-top: 20px;
}

input{
	line-height: 20px;
	font-weight: 900;
	font-style: consolase;
}

input.phone{
	margin-right: 10px;
}

button.sendMessage{
	height: 27px;
	font-weight: 900;
}

a{
	display:block;
	margin-top:40px;
	text-shadow: 2px 2px 2px gray;
	text-decoration: none;
	color:black;
	font-size: 30px;
	font-weight: 900;
	font-style: consolase;
}

a:hover {
	text-shadow: 2px 2px 2px gray;
	color:green;
}